#name {
    color: blue;
    font-weight: bold;
}

#name:hover {
    font-size: 3vw;
}

#work {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

#summary {
    color: blue;
    margin-bottom: 20px;
}

.port-heading{
    
}